body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

form {
  height: 70px;
  width: 60%;
  display: flex;
  background-color: rgb(87, 193, 255);
  border-radius: 10px 10px 0 0;
}

.select,
.input,
.btn {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select,
.input {
  width: 40%;
}

.btn {
  width: 20%;
}

input,
select {
  margin: 5px;
  width: 70%;
  outline: none;
  text-align: center;
  border: none;
  border-radius: 5px;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
}

h4 {
  text-align: center;
}

.show {
  background-color: rgb(247, 247, 238);
  width: 60%;
  border-radius: 0 0 10px 10px;
  padding-bottom: 20px;
}

.show .show_data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

table {
  border: 1px solid black;
  width: 50%;
  border-radius: 10px;
}

tr:nth-child(odd) {
  background: #ccc;
}
tr:nth-child(even) {
  background: #efefef;
}

.show .show_data div {
  background-color: azure;
  text-align: center;
  width: 30%;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
}